<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>发送邮件</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/assets/css/bootstrap.min.css"/>
	</head>
	<body>
        <h1 class="text-center">发送邮件</h1>
        <form action="{:url('email/sendemail')}" method="post">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="收件地址" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="标题" />
            </div>
            <div class="form-group">
                <textarea name="content" class="form-control" rows="6" placeholder="邮件内容"></textarea>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-6">
                        <button type="submit" class="btn btn-default">发送邮件</button>
                    </div>
            </div>
        </form>
		<script src="__STATIC__/assets/js/jquery.min.js"></script>
		<script src="__STATIC__/assets/js/bootstrap.min.js"></script>
		{block name="js"}{/block}
	</body>
</html>
