{extend name="public/base1" /}
{block name="style"}

{/block}
{block name="content"}
<article class="cl pd-20">
	<form action="{:url('liupai/update')}" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>种类名字：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.title}"  placeholder="" id="title" name="title">
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input type="hidden" name="id" value="{$data.id}" />
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;更新&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{/block}
