{extend name="public/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/css/webuploader.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/examples/cropper/cropper.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/examples/cropper/style.css" />
{/block}
{block name="content"}
<div id="wrapper">
	<div class="uploader-container">
		<div id="filePicker">选择文件</div>
	</div>

	<!-- Croper container -->
	<div class="cropper-wraper webuploader-element-invisible">
		<div class="img-container">
			<img src="" alt="" />
		</div>

		<div class="upload-btn">上传所选区域</div>

		<div class="img-preview"></div>
	</div>


</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/webuploader/dist/webuploader.js"></script>
<script type="text/javascript" src="__STATIC__/webuploader/examples/cropper/cropper.js"></script>
<script type="text/javascript" src="__STATIC__/webuploader/examples/cropper/uploader.js"></script>
{/block}
