<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">

			<dl id="menu-admin">
					<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
					<dd>
						<ul>
								<!-- <li><a href="{:url('notice/index')}" title="雕塑分类">雕塑分类</a></li> -->
								<li><a href="{:url('@admin/category/index')}" title="雕塑分类">商品分类</a></li>
									<li><a href="{:url('@admin/article/index')}" title="雕塑名单">商品管理</a></li>
								

								<!-- <li><a href="{:url('@admin/article/index')}" title="世界名画">世界名画</a></li> -->
								
								



						</ul>
					</dd>
				</dl>
		

	
		
		
	
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
